[Unit]
Description=moira-cache - metric stream filtering and caching for Moira
After=network-online.target

[Service]
ExecStart={{ gopath }}/bin/cache --config=/etc/moira/config.yml
WorkingDirectory={{ gopath }}/bin/
User=vagrant
Group=vagrant
PIDFile=/var/run/moira/moira-cache.pid
Restart=on-failure
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
