[Unit]
Description=Moira Web
After=network-online.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory={{ moira_web_path }}
User=vagrant
Group=vagrant
Restart=always

[Install]
WantedBy=multi-user.target
